@charset "UTF-8";

body {
  background: linear-gradient(to right, #eef2f3, #d9e9ff);
}

main {
  flex-grow: 1;
}

h4 {
  color: #333;
}

.news-image-main {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 0.25rem;
}

.news-text {
  white-space: pre-line;
}

.aside-card img {
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.aside-card {
  transition: transform 0.2s ease-in-out;
}

.aside-card:hover {
  transform: scale(1.02);
  text-decoration: none;
}
