@charset "UTF-8";

/* Mensagem quando não há partituras */
.no-musics {
  text-align: center;
  font-size: 1.2rem;
  color: #6c757d;
  margin-top: 2rem;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.btn {
  transition: 0.2s;
}

.btn:hover {
  transform: translateY(-4px) scale(1.02);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
}
