@charset "UTF-8";

.container > div {
  max-width: 1200px;
}

.card-image {
  max-height: 470px;
}

.btn {
  transition: 0.2s;
}

.btn:hover {
  transform: translateY(-4px) scale(1.02);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
}
