@charset "UTF-8";

main {
  padding: 0 30px;
}

.login-container {
  max-width: 1000px;
}

select.form-control,
.btn {
  padding: 0 0 0 12px;
}

form i.show-password {
  right: 10%;
  bottom: 18.8%;
}

@media screen and (min-width: 481px) {
  form i.show-password {
    right: 7%;
    bottom: 18.8%;
  }
}

@media screen and (min-width: 768px) {
  form i.show-password {
    left: 45.5%;
    bottom: 21.2%;
  }
}

@media screen and (min-width: 993px) {
  form i.show-password {
    left: 46%;
  }
}
