@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Paleta */
:root {
  --color-1: #0d6efd;
  --color-2: #0dcaf0;
  --color-bg: #f4f7fb;
  --color-dark: #0a0a23;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--color-bg);
  color: var(--color-dark);
  overflow-x: hidden;
}

/* Header */
header {
  background: rgba(13, 110, 253, 0.95);
  backdrop-filter: blur(6px);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
  height: 60px;
}

header a span {
  font-weight: 600;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Footer */
footer {
  background: linear-gradient(90deg, var(--color-1), #0056d2);
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-top: auto;
  font-size: 0.9rem;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1);
}

footer a {
  color: #fff;
  transition: opacity 0.3s;
}

footer a:hover {
  opacity: 0.8;
}
