@charset "UTF-8";

.main-container {
    background: linear-gradient(to right, #eef2f3, #d9e9ff);
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.main-container h1 {
    color: #333;
}

.about-image {
    border-radius: 0.5rem;
    object-fit: cover;
    width: 100%;
    height: auto;
}

figcaption {
    font-size: 0.9rem;
    color: #6c757d;
    margin-top: 0.5rem;
    text-align: center;
}

p {
    text-align: justify;
}
